.form_container {
  width: 100%;
  height: 40%;
}

.input_container {
  width: 280px;
  height: 40px;
  gap: 8px;
  background-color: var(--main-color);
  border-radius: 8px;
}

.input_container input {
  width: 200px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.input_container input:focus {
  outline: none;
}

.submit-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.submit-btn img {
  width: 100%;
  height: auto;
}
