body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.App {
  width: 30vw;
  height: 80vh;
  border: solid 1px black;
}

.place-items_center {
  display: grid;
  place-items: center;
}
